body {
  padding: 0;
  display: block;
  background-color: #f7f2f2;
  margin: 0 auto;
}
/* top navigation flex box*/
.top-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
  gap: 60px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.nav-item {
  text-decoration: none;
  color: rgb(60, 57, 57);
}
.portfolio {
  color: rgb(60, 57, 57);
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.portfolio:hover {
  text-shadow: 2px 2px 5px rgb(84, 84, 81);
}
.drop:hover {
  font-size: 18px;
}
.drop {
  line-height: 8px;
}
/*firts flavour container*/
.grid-container {
  max-width: 1760px;
}
.el--1 {
  background-color: blueviolet;
  background-image: url(https://img.freepik.com/premium-photo/white-birthday-cake-with-candles-blue-background-blank-empty-space_795881-56.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.el--2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(221, 221, 209);
  background-color: rgb(244, 231, 210);
  width: 500px;
}
.under-logo-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 25px 0;
  margin: 0;
}
.el--3 {
  background-color: green;
  background-image: url(https://as2.ftcdn.net/v2/jpg/05/76/40/05/1000_F_576400559_bHHvQiN3QCFUGrFrxtnX3NkzPgv3XDXY.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid rgb(221, 221, 209);
}
.el--4 {
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 168, 172);
  grid-column: 2 / 3;
  grid-row: 2/ 6;
  width: 500px;
  justify-content: center;
  border: 1px solid rgb(221, 221, 209);
}
.el---1 {
  width: 10%;
}
.el---2 {
  width: 80%;
}
.el---3 {
  width: 10%;
}
.el--5 {
  background-color: palevioletred;
  background-image: url(https://www.shutterstock.com/image-photo/happy-birthday-cake-600nw-561721861.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.el--6 {
  background-color: steelblue;
  background-image: url(https://img.freepik.com/premium-photo/colorful-birthday-cake-pastel-background-sweet-delicious-happy-birthday-cake-copy-space-celebration-concept-selective-focus-ai-generated_99272-5127.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.first-flavour-list {
  /* STARTER */

  margin-bottom: 30px;
  width: 1500px;
  height: auto;

  /*grid*/
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  justify-content: center;
}
/*footer section*/
.footer-section-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1760px;
  margin-top: 25px;
}
.footer {
  background-color: rgb(211, 200, 186);
}
.address {
  width: 26%;
  height: auto;
}
.address-text {
  padding-left: 35px;
}

.email {
  width: 25%;
  height: auto;
}

.mail-phone {
  margin-top: 5px;
}
.social {
  width: 26%;
  height: auto;
}
.facebook {
  height: 25px;
  width: 25px;
}
.instagram {
  height: 25px;
  width: 25px;
}
/*copyright*/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
}

.copyright-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #f7f2f2;
  width: 77%;
  background-color: rgb(71, 69, 67);
}
