body {
  padding: 0;
  display: block;
  background-color: #f7f2f2;
  margin: 0 auto;
}
/* top navigation flex box*/
.top-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
  gap: 60px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.nav-item {
  text-decoration: none;
  color: rgb(60, 57, 57);
}
.portfolio {
  color: rgb(60, 57, 57);
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.portfolio:hover {
  text-shadow: 2px 2px 5px rgb(84, 84, 81);
}
.drop:hover {
  font-size: 18px;
}
.drop {
  line-height: 8px;
}
/* under navigation bar box*/
.under-navbar-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-message-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
/* top 3 tiles flex box*/
.top3-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  max-width: 1760px;
  margin: 0 auto;
}
/*tile 1*/
.tile1 {
  background-color: rgb(148, 113, 180);
  height: 550px;
  width: 25%;
  background-image: url(https://t3.ftcdn.net/jpg/01/05/02/72/360_F_105027238_xgNXdCYGBRBLHMW1ZAObt20mYr8QXQwK.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*tile 2*/
.tile2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(244, 231, 210);
  height: 550px;
  width: 25%;
}
.main-logo {
  display: flex;
  justify-content: center;
  height: 50%;
}
.main-text {
  display: flex;
  justify-content: center;
  height: auto;
}
.text {
  text-align: center;
}
/*tile3*/
.tile3 {
  background-color: rgb(138, 187, 197);
  height: 550px;
  width: 25%;
  background-image: url(https://png.pngtree.com/background/20230823/original/pngtree-airborne-treats-green-glazed-doughnuts-with-sprinkles-on-pastel-background-in-picture-image_4788080.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* middle horizontal message block*/

.middle-message-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
}
.middle-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
/*middle main block*/

.middle-main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  max-width: 1760px;
  margin: 0 auto;
}
.main-block1 {
  background-color: antiquewhite;
  width: 38%;
  height: 250px;
  background-image: url(https://media.istockphoto.com/id/1131330399/photo/confectioner-woman-making-delicious-cream-for-cupcakes.jpg?s=612x612&w=0&k=20&c=vUVlu8HuyZtKQiP6hFKO-CFUeO2a47ALrh9j-ya-bzk=);
}

.main-block2 {
  background-color: antiquewhite;
  width: 38%;
  height: 250px;
  background-image: url(https://media.istockphoto.com/id/914432518/photo/macarons-in-different-colors-space-for-copy.jpg?s=612x612&w=is&k=20&c=QJevXsWI1xl9wbnp2Es1sPpL3BHmMzqqW4aub9lbq1k=);
  background-repeat: no-repeat;

  background-size: 100% 100%;
}
/* second horizontal message block*/

.second-message-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
}
.second-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

/* bottom design images*/

.image-design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
  max-width: 1760px;
  margin: 0 auto;
}

.bottom-img {
  width: 155px;
  height: 155px;
  background-color: rgb(72, 108, 108);
}
.img1 {
  height: 155px;
  width: 155px;
}
.img2 {
  background-image: url(https://scontent-dub4-1.xx.fbcdn.net/v/t39.30808-6/276155742_2176752459145975_7822743125171840604_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=otZGZJFug08AX-QdbTn&_nc_ht=scontent-dub4-1.xx&oh=00_AfA987ttP44kmp3igDxrnIhdc6AgtyTTzBweCv7rWpY2Sw&oe=65E72384);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img3 {
  background-image: url(https://scontent-dub4-1.xx.fbcdn.net/v/t31.18172-8/12967903_598524650302105_6347007231343538914_o.jpg?stp=dst-jpg_p843x403&_nc_cat=108&ccb=1-7&_nc_sid=4dc865&_nc_ohc=DPB0Qoit_igAX9-fOCU&_nc_ht=scontent-dub4-1.xx&oh=00_AfB7tFWk-kSW8Lt8K8lKnwlBL-upiyatkJcNssDiWx6DWQ&oe=6609B1C4);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img4 {
  background-image: url(https://scontent-dub4-1.xx.fbcdn.net/v/t31.18172-8/14884468_697353643752538_3238668324357227477_o.jpg?stp=dst-jpg_p843x403&_nc_cat=106&ccb=1-7&_nc_sid=4dc865&_nc_ohc=U_yCFi7cm84AX9L5vh1&_nc_ht=scontent-dub4-1.xx&oh=00_AfCBe-5NB9xNmXdYnjfohUg1XLal949zR_y0huO88YRwqQ&oe=6609D1E5);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img5 {
  background-image: url(https://scontent-dub4-1.xx.fbcdn.net/v/t39.30808-6/282017420_2227358320752055_7064564534304208467_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a73e89&_nc_ohc=t_g2CglavHYAX8PfP4s&_nc_ht=scontent-dub4-1.xx&oh=00_AfDcvL-zbgW2YB6PiBGdfB8DMxyBdooHVViK465Np2eQTQ&oe=65E7B1C0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img6 {
  background-image: url(https://www.cakenchilldxb.ae/cdn/shop/products/drip-cake-pastel-birthday-cakecake-n-chill-dubai-462588.jpg?v=1658310653);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img7 {
  background-image: url(https://img.pikbest.com/wp/202346/birthday-cake-candle-pastel-with-3-3d-rendering-of-party-celebration-on-blue-background-copy-space_9734752.jpg!bw700);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img8 {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/024/107/480/small_2x/3d-render-top-view-of-beautiful-fruit-cake-on-pastel-purple-and-orange-grunge-background-photo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* testimonial section*/
.slick-next:before,
.slick-prev:before {
  color: #2d2e2f;
}

.testimonials_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f5f5;
}

.slider-container {
  text-align: center;
  padding: 10px;
  display: inline-block;
  /* 9.16 / 11.11 / 13.33 */
  font-size: 11.11px;
  width: 400px;
}

.testimonials_headline {
  text-align: center;
  text-transform: uppercase;
}

.testimonials_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.slider_testimonials {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: center;
}

.objects {
  text-align: center;
  font-size: 11.11px;
}

/* footer head line*/
.footer-section-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1760px;
  margin: 0 auto;
}
.footer {
  background-color: rgb(211, 200, 186);
}
.address {
  width: 26%;
  height: auto;
}
.address-text {
  padding-left: 35px;
}

.email {
  width: 25%;
  height: auto;
}

.mail-phone {
  margin-top: 5px;
}
.social {
  width: 26%;
  height: auto;
}
.facebook {
  height: 25px;
  width: 25px;
}
.instagram {
  height: 25px;
  width: 25px;
}
/*copyright*/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1760px;
  margin: 0 auto;
}

.copyright-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #f7f2f2;
  width: 77%;
  background-color: rgb(71, 69, 67);
}
